DATABASE_URL=postgresql://neondb_owner:npg_wATuiSL91cVh@ep-still-recipe-ae30t6bd-pooler.c-2.us-east-2.aws.neon.tech/neondb?channel_binding=require&sslmode=require
JWT_SECRET=f52545tn'èN43TT45Y3HTHTTHTHHTFFF5HBFDDFHJYJ?554T445fgrdefejs
APP_BASE_URL=http://localhost:5173,https://appmuscumaxime.netlify.app
API_BASE_URL=http://localhost:4000
COOKIE_DOMAIN=

